

  .containerS{
    height: 100%;
    width: 100%;
    display: flex;
  }

  .main-field{
    align-items: center;
  }

  .main-field1{
    width: 90%;
  }

  .Login{
    padding: 20% 0;
    background-color: #222;
    color: white;
    height: 100%;
    width: 40%;
    
  
  }

  